html{
    height: 100%;
}
body{
    height: 100%;
    text-align: center;
    align-items: center;
}
.chartMenu h1{
    font-family:'Times New Roman', Times, serif;
    color: #121212;
    text-shadow: 5px 5px 0 #e0620d,
    1px 1px 0 #c63d2b,
    1px -1px 0 #42afac,
    -1px -1px 0 #c6c23f;
    text-align: center;
    padding-top: 20px;
}
.chartCard {
    width: 1000px;
    height: 1000px;
    background: rgba(233, 219, 224, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
    margin-left: 200px;
  }
  .chartBox {
    width: 1200px;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgb(243, 234, 237);
    background: white;
    
  }